@import "theme.scss";

.taskItem {
	position: relative;
	color: $theme-default-fontColor;
	border-bottom: 1px solid $theme-default-borderColor;
	padding: 20px 0 20px 20px;

	> * {
		display: inline-block;
		margin-right: 20px;
	}
}

.taskItemCheckboxContainer {
	font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none;
	
	input {
		position: absolute;
    	opacity: 0;
	}
}

.taskItemCheckMark {
	position: absolute;
    top: 20px;
    left: 0;
    height: 20px;
    width: 20px;
	background-color: #fff;
	border: 1px solid #b6b6b6;
    border-radius: 50%;
}

.taskItemCheckBoxChecked {
	background-color: red;
}

.taskItemLabel {
	color: $theme-default-fontColor;
}