@import "theme.scss";
@import "defs.scss";

.taskPanel {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: $taskPanelWidth;
	border-right: 1px solid $theme-default-borderColor;
	background-color: #fff;
}