@import "theme.scss";
@import "defs.scss";

.taskPanel {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: $taskPanelWidth;
	background-color: #fff;
}

.taskContainer {
	position: absolute;
	top: 100px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
	margin: 0px 15px;
}